[Unit]
Description=Quickshell desktop shell
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Environment=PATH=%h/.config/my-desk/bin:%h/.cargo/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/lib/jvm/default/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl
ExecStart=/usr/bin/quickshell
Restart=on-failure
RestartSec=2
MemoryAccounting=yes
OOMPolicy=kill

[Install]
WantedBy=graphical-session.target
